<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='student_dashboard.css') }}">
</head>
<body>
    <nav class="top-nav">
        <div class="logo">
            <img src="{{ url_for('static', filename='travail.png') }}">
        </div>
        <div>Welcome, {{ current_user.username }}</div>
    </nav>

    <div class="main-wrapper">
        <aside class="side-nav">
            <ul>
                <li><a href="{{url_for('student.update')}}">🔄 Update Profile</a></li>
                <li><a href="{{url_for('student.viewDrives')}}">👁️ View Drives</a></li>
                <li><a href="{{url_for('student.applications')}}">🟢 Applied Drives</a></li>
                <li><a href="{{url_for('student.archives')}}">🔴 Archives</a></li>
                <li><a href="{{url_for('student.upload_resume')}}">🔴 Upload Resume</a></li>
            </ul>
            <div class="logout">
                <ul>
                    <li><a href=" {{ url_for('auth.logout')}} ">🚪 Logout</a></li>
                </ul>
            </div>
        </aside>

        <main class="content">
            {%if message%}
                <h2> {{ message }} </h2>
            {%endif%}
            {% block content %} {% endblock %}
        </main>
    </div>
</body>
</html>