{% extends "admin/dashboard.html" %}

{% block content %}
<h3> Drive Details </h3>
<table cellpadding="8" cellspacing="0" width="100%" style="text-align: center;">
    <tr>
        <th>Drive ID</th><th>Name</th><th>Title</th><th>Deadline</th><th>Status</th>
    </tr>
    <tr>
        <td> {{ drive.id }} </td>
        <td> {{ drive.name }} </td>
        <td> {{ drive.title }} </td>
        <td> {{ drive.deadline }} </td>
        <td> {{ drive.status }} </td>
    </tr>
</table>
<h3> Student Applications </h3>
<table border="1" cellpadding="8" cellspacing="0" width="100%" style="text-align: center;">
    <tr>
        <th>Application ID</th><th>Student ID</th><th>Name</th><th>Contact</th><th>Status</th><th>Action</th>
    </tr>
    <tr>
        {% for application in applications %}
            {% for student in students %}
                <td> {{ application.id }} </td>
                <td> {{ student.id }} </td>
                <td> {{ student.name }} </td>
                <td> {{ student.contact }} </td>
                <td> {{ student.status }} </td>
            {% endfor %}
        {% endfor %}
    </tr>
</table>
{% endblock %}