<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Registration</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'company_register.css')}}">
    <!-- <link rel="stylesheet" href="company_register.css"> -->
</head>
<body>
    <div class="page">
        <div class="head">
            <h1>Registration Form</h1>
        </div>

        <div class ="reg-form">
            <form action = "/registration form" method="POST">
                <label>Name* : </label>
                <input type="text" name="name" placeholder="Full Name" required>
<br><br>
                <label>Phone Number* : </label>
                <input type="number" name="contact" placeholder="Contact" required>
<br><br>
                <label>Resume Link* : </label>
                <input type="text" name="resume" placeholder="Resume/CV" required>
<br><br>
                <label>E-mail* : </label>
                <input type="text" name="email" placeholder="email id" required>
<br><br>
                <label>Location* : </label>
                <input type="text" name="location" placeholder="Location" required>
<br><br>
                <label>DoB* : </label>
                <input type="date" name="dob" placeholder="dob" required>
<br><br>
                <label>Degree* : </label>
                <input type="text" name="degree" placeholder="Degree" required>
<br><br>
                <button type="submit">Register</button>
            </form>
        </div>
    </div>
</body>
</html>